<div>
    <form #newPetForm="ngForm" (ngSubmit)="savePet(newPetForm.value)" autocomplete="off" novalidate>

        <div class="form-group">
            <label for="petName">Name</label>
            <input [(ngModel)]="newPet.name" type="text" name="petName" id="petName" placeholder="Pets name..."
                   class="form-control">

        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input #location type="text" name="location" id="location"
                   placeholder="Where did you last saw it?"
                   class="form-control" autocapitalize="off">
        </div>

        <div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>

        <div class="text-center my-3">
            <button type="submit" [disabled]="newPetForm.invalid" class="btn btn-primary mx-1">Save</button>
            <button type="button" class="btn btn-secondary mx-1" (click)="cancel()">Cancel</button>
        </div>
    </form>


</div>
