em {
    color: red;
    float: right;

}

agm-map {
    height: 300px;
}

.thumbnails {
    overflow-x: scroll;
    overflow-y: hidden;
}

.list-group-item {
    border: none;
}

.thumbnail {
    position: relative;
    box-shadow: 5px 5px 5px lightgray;
}

.thumbnail img {
    max-height: 150px;
}

.thumbnail fa-icon {
    right: 4px;
    position: absolute;
    cursor: pointer;
}
