<div class="card p-3">

    <form [formGroup]="newPetForm" (ngSubmit)="savePet(newPetForm.value)" autocomplete="off" novalidate>

        <div class="form-group">
            <label class="font-weight-bold" for="name">Name:</label>
            <em *ngIf="newPetForm.controls.name?.invalid && (newPetForm.controls.name?.touched || isMouseOverSubmit)">Required!</em>
            <input class="form-control" id="name" formControlName="name" type="text" name="name"
                   placeholder="Pet's name">
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label class="font-weight-bold" for="type">Type:</label>
                <em *ngIf="newPetForm.controls.type?.invalid && (newPetForm.controls.type?.touched || isMouseOverSubmit)">Required!</em>
                <select class="form-control" id="type" formControlName="type" name="type">
                    <option value="dog" selected>Dog</option>
                    <option value="cat">Cat</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-group col">
                <label class="font-weight-bold" for="type">Breed:</label>
                <em *ngIf="newPetForm.controls.breed?.invalid && (newPetForm.controls.breed?.touched || isMouseOverSubmit)">Required!</em>
                <input class="form-control" type="text" id="breed" placeholder="Pet's breed" formControlName="breed">
            </div>

        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="description">Description:</label>
            <em *ngIf="newPetForm.controls.description?.invalid && (newPetForm.controls.description?.touched || isMouseOverSubmit)">Required!</em>
            <textarea class="form-control" id="description" formControlName="description"
                      placeholder="Give some more details about it">
            </textarea>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="location">Location:</label>
            <em *ngIf="newPetForm.controls.location?.invalid && (newPetForm.controls.location?.touched || isMouseOverSubmit)">Required!</em>
            <input #location class="form-control" id="location" type="text" name="location"
                   placeholder="Where did you last saw it?" autocapitalize="off">

            <div class="my-3">
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Photos:</label>
            <em *ngIf="newPetForm.controls.photos?.invalid && (newPetForm.controls.photos?.touched || isMouseOverSubmit)">Required!</em>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <label class="custom-file-label" for="photo">Add one or more photos</label>
                    <input type="file" class="custom-file-input" id="photo" accept="image/*"
                           multiple (change)="onPhotoInputChange($event)">
                </div>
            </div>
        </div>

        <div *ngIf="photos.length > 0">
            <ul class="list-group flex-row thumbnails">
                <li class="list-group-item" *ngFor="let photo of photos; let i=index">
                    <div class="card thumbnail">
                        <fa-icon class="float-right" [icon]="faTimes" (click)="onRemovePhoto(i)"></fa-icon>
                        <div class="card-body">
                            <img class="rounded" src="{{photo.url}}" alt="{{photo.name}}"/>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div class="text-center my-3">
            <!-- Disabled buttons don't emit events, so wrap it around span -->
            <span (mouseover)="isMouseOverSubmit = true" (mouseleave)="isMouseOverSubmit=false">
            <button class="btn btn-primary mx-1" type="submit" [disabled]="newPetForm.invalid">Save</button>
            </span>
            <button class="btn btn-secondary m-1" type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>


</div>
